CREATE DATABASE CinemaDB;
GO

USE CinemaDB;
GO

CREATE LOGIN movie_user WITH PASSWORD = '123456';
USE CinemaDB;
GO

CREATE USER movie_user FOR LOGIN movie_user;
ALTER ROLE db_owner ADD MEMBER movie_user;
GO

USE CinemaDB;
SELECT sp.name AS LoginName, dp.name AS UserName
FROM sys.server_principals sp
LEFT JOIN sys.database_principals dp
    ON sp.sid = dp.sid
WHERE sp.name = 'movie_user';


/****** Object:  Table [dbo].[AppUser]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Genre] [nvarchar](100) NULL,
	[Director] [nvarchar](200) NULL,
	[Cast] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NULL,
	[Language] [nvarchar](100) NULL,
	[ReleaseDate] [date] NULL,
	[PosterUrl] [nvarchar](500) NULL,
	[TrailerUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[PaymentMethod] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[CinemaId] [int] NOT NULL,
	[RoomName] [nvarchar](100) NOT NULL,
	[SeatCount] [int] NOT NULL,
	[RoomType] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[SeatType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Showtime]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[ShowtimeId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 28/10/2025 23:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShowtimeId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[BookingTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([UserId], [FullName], [Email], [Password], [Phone], [Role], [Status], [CreatedAt]) VALUES (1, N'Nguyễn Văn A', N'nga@example.com', N'123456', N'0901000001', N'user', N'active', CAST(N'2025-10-28T22:51:43.303' AS DateTime))
INSERT [dbo].[AppUser] ([UserId], [FullName], [Email], [Password], [Phone], [Role], [Status], [CreatedAt]) VALUES (2, N'Trần Thị B', N'tb@example.com', N'123456', N'0901000002', N'user', N'active', CAST(N'2025-10-28T22:51:43.303' AS DateTime))
INSERT [dbo].[AppUser] ([UserId], [FullName], [Email], [Password], [Phone], [Role], [Status], [CreatedAt]) VALUES (3, N'Admin Hệ Thống', N'admin@example.com', N'admin123', N'0901000999', N'admin', N'active', CAST(N'2025-10-28T22:51:43.303' AS DateTime))

SET IDENTITY_INSERT [dbo].[AppUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaId], [Name], [Address], [City], [Phone], [CreatedAt]) VALUES (1, N'Galaxy Nguyễn Trãi', N'Nguyễn Trãi, Thanh Xuân, Hà Nội', N'Hà Nội', N'024-1234-0001', CAST(N'2025-10-28T22:51:26.183' AS DateTime))
INSERT [dbo].[Cinema] ([CinemaId], [Name], [Address], [City], [Phone], [CreatedAt]) VALUES (2, N'CGV Vincom', N'Vincom Center, Bà Triệu, Hà Nội', N'Hà Nội', N'024-1234-0002', CAST(N'2025-10-28T22:51:26.183' AS DateTime))
INSERT [dbo].[Cinema] ([CinemaId], [Name], [Address], [City], [Phone], [CreatedAt]) VALUES (3, N'Lotte Cinema', N'Lotte Center, Láng Hạ, Hà Nội', N'Hà Nội', N'024-1234-0003', CAST(N'2025-10-28T22:51:26.183' AS DateTime))

SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Title], [Genre], [Director], [Cast], [Description], [Duration], [Language], [ReleaseDate], [PosterUrl], [TrailerUrl], [Status], [CreatedAt]) VALUES (1, N'Into the Future', N'Sci-Fi', N'Nguyễn A', N'Actor A, Actor B', N'Phim khoa học viễn tưởng về tương lai.', 130, N'Vietnamese', CAST(N'2025-10-15' AS Date), N'into_the_future.jpg', N'https://www.youtube.com/watch?v=qvsgGtivCgs', N'Now Showing', CAST(N'2025-10-28T22:51:35.067' AS DateTime))
INSERT [dbo].[Movie] ([MovieId], [Title], [Genre], [Director], [Cast], [Description], [Duration], [Language], [ReleaseDate], [PosterUrl], [TrailerUrl], [Status], [CreatedAt]) VALUES (2, N'Love in Autumn', N'Romance', N'Director B', N'Actor C, Actor D', N'Bộ phim tình cảm lãng mạn.', 110, N'Vietnamese', CAST(N'2025-11-01' AS Date), N'love-in-autumn.jpg', N'https://www.youtube.com/watch?v=J0IwXl8FPKc', N'Coming Soon', CAST(N'2025-10-28T22:51:35.067' AS DateTime))
INSERT [dbo].[Movie] ([MovieId], [Title], [Genre], [Director], [Cast], [Description], [Duration], [Language], [ReleaseDate], [PosterUrl], [TrailerUrl], [Status], [CreatedAt]) VALUES (3, N'Action Blast', N'Action', N'Director C', N'Actor E, Actor F', N'Phim hành động đầy kịch tính.', 125, N'English', CAST(N'2025-09-20' AS Date), N'action-blast.jpg', N'https://www.youtube.com/watch?v=R6W1sgAz-SY', N'Now Showing', CAST(N'2025-10-28T22:51:35.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [TicketId], [PaymentMethod], [Amount], [PaymentDate], [Status]) VALUES (1, 1, N'Credit Card', CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T18:46:00.000' AS DateTime), N'Success')
INSERT [dbo].[Payment] ([PaymentId], [TicketId], [PaymentMethod], [Amount], [PaymentDate], [Status]) VALUES (2, 2, N'Momo', CAST(80000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T18:51:00.000' AS DateTime), N'Pending')
INSERT [dbo].[Payment] ([PaymentId], [TicketId], [PaymentMethod], [Amount], [PaymentDate], [Status]) VALUES (3, 3, N'ZaloPay', CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T19:11:00.000' AS DateTime), N'Success')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
Delete Payment
where PaymentId = 2;
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [CinemaId], [RoomName], [SeatCount], [RoomType], [CreatedAt]) VALUES (1, 1, N'Room 1 - Galaxy', 60, N'2D', CAST(N'2025-10-28T22:51:51.433' AS DateTime))
INSERT [dbo].[Room] ([RoomId], [CinemaId], [RoomName], [SeatCount], [RoomType], [CreatedAt]) VALUES (2, 1, N'Room 2 - Galaxy (IMAX)', 120, N'IMAX', CAST(N'2025-10-28T22:51:51.433' AS DateTime))
INSERT [dbo].[Room] ([RoomId], [CinemaId], [RoomName], [SeatCount], [RoomType], [CreatedAt]) VALUES (3, 2, N'Room 1 - CGV', 80, N'3D', CAST(N'2025-10-28T22:51:51.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([SeatId], [RoomId], [SeatNumber], [SeatType], [Status]) VALUES (1, 1, N'A1', N'VIP', N'Available')
INSERT [dbo].[Seat] ([SeatId], [RoomId], [SeatNumber], [SeatType], [Status]) VALUES (2, 1, N'A2', N'VIP', N'Available')
INSERT [dbo].[Seat] ([SeatId], [RoomId], [SeatNumber], [SeatType], [Status]) VALUES (3, 1, N'A3', N'Regular', N'Available')
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtime] ON 

INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [TicketPrice], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2025-10-20T19:30:00.000' AS DateTime), CAST(N'2025-10-20T21:40:00.000' AS DateTime), CAST(80000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T22:52:04.653' AS DateTime))
INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [TicketPrice], [CreatedAt]) VALUES (2, 1, 2, CAST(N'2025-10-20T20:00:00.000' AS DateTime), CAST(N'2025-10-20T22:10:00.000' AS DateTime), CAST(120000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T22:52:04.653' AS DateTime))
INSERT [dbo].[Showtime] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [TicketPrice], [CreatedAt]) VALUES (3, 3, 3, CAST(N'2025-10-21T18:30:00.000' AS DateTime), CAST(N'2025-10-21T20:35:00.000' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T22:52:04.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[Showtime] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [UserId], [ShowtimeId], [SeatId], [Price], [BookingTime], [Status]) VALUES (1, 1, 1, 9, CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T18:45:00.000' AS DateTime), N'Used')
INSERT [dbo].[Ticket] ([TicketId], [UserId], [ShowtimeId], [SeatId], [Price], [BookingTime], [Status]) VALUES (2, 2, 1, 10, CAST(80000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T18:50:00.000' AS DateTime), N'Booked')
INSERT [dbo].[Ticket] ([TicketId], [UserId], [ShowtimeId], [SeatId], [Price], [BookingTime], [Status]) VALUES (3, 1, 2, 16, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-10-20T19:10:00.000' AS DateTime), N'Cancelled')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AppUser__A9D105345F633E58]    Script Date: 28/10/2025 23:07:18 ******/
ALTER TABLE [dbo].[AppUser] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket_Showtime_Seat]    Script Date: 28/10/2025 23:07:18 ******/
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [UQ_Ticket_Showtime_Seat] UNIQUE NONCLUSTERED 
(
	[ShowtimeId] ASC,
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUser] ADD  DEFAULT (N'user') FOR [Role]
GO
ALTER TABLE [dbo].[AppUser] ADD  DEFAULT (N'active') FOR [Status]
GO
ALTER TABLE [dbo].[AppUser] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cinema] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT (N'2D') FOR [RoomType]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT (N'Regular') FOR [SeatType]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT (N'Available') FOR [Status]
GO
ALTER TABLE [dbo].[Showtime] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [BookingTime]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (N'Booked') FOR [Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Ticket] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Ticket]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Cinema] FOREIGN KEY([CinemaId])
REFERENCES [dbo].[Cinema] ([CinemaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Cinema]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Room]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_Movie]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_Room]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([SeatId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Showtime] FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtime] ([ShowtimeId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Showtime]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD CHECK  (([Role]=N'admin' OR [Role]=N'user'))
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD CHECK  (([Status]=N'inactive' OR [Status]=N'active'))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([Status]=N'Archived' OR [Status]=N'Coming Soon' OR [Status]=N'Now Showing'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Status]=N'Pending' OR [Status]=N'Failed' OR [Status]=N'Success'))
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD CHECK  (([RoomType]=N'4DX' OR [RoomType]=N'IMAX' OR [RoomType]=N'3D' OR [RoomType]=N'2D'))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([SeatType]=N'Double' OR [SeatType]=N'VIP' OR [SeatType]=N'Regular'))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([Status]=N'Unavailable' OR [Status]=N'Booked' OR [Status]=N'Available'))
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [CHK_Showtime_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [CHK_Showtime_Time]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD CHECK  (([Status]=N'Used' OR [Status]=N'Cancelled' OR [Status]=N'Booked'))
GO
-- Chạy theo thứ tự tăng dần:
-- More data to seat: 1
ALTER TABLE Seat
ADD SeatRow NVARCHAR(5),
    SeatCol INT;
GO
UPDATE Seat
SET
    SeatRow = LEFT(SeatNumber, 1),
    SeatCol = CAST(SUBSTRING(SeatNumber, 2, LEN(SeatNumber)) AS INT);
GO

SELECT SeatId, SeatNumber, SeatRow, SeatCol FROM Seat;
DELETE FROM Seat WHERE RoomId = 1;
DELETE FROM Seat WHERE RoomId = 2;


--Delete dữ liệu ticket để import lại ghế mới: 2
DELETE FROM Ticket;

-- Thêm dữ liệu chuẩn vào seat room id 1: 3
DECLARE @row CHAR(1) = 'A';

WHILE @row <= 'F'
BEGIN
    DECLARE @col INT = 1;
    WHILE @col <= 10
    BEGIN
        INSERT INTO Seat (RoomId, SeatNumber, SeatRow, SeatCol, SeatType, Status)
        VALUES (
            1,
            CONCAT(@row, @col),
            @row,
            @col,
            CASE WHEN @row IN ('A','B') THEN 'VIP' ELSE 'Regular' END,
            'Available'
        );
        SET @col += 1;
    END
    SET @row = CHAR(ASCII(@row) + 1);
END;
GO

SELECT COUNT(*) FROM Seat WHERE RoomId = 1;
GO

SELECT 
    s.SeatId,
    s.SeatRow,
    s.SeatCol,
    s.SeatType,
    CASE 
        WHEN t.TicketId IS NULL THEN 'Available'
        ELSE 'Booked'
    END AS SeatStatus
FROM Seat s
LEFT JOIN Ticket t 
    ON s.SeatId = t.SeatId
    AND t.ShowtimeId = 1 
    AND t.Status = 'Booked'
WHERE s.RoomId = 1
ORDER BY s.SeatRow, s.SeatCol;
GO

-- Thêm dữ liệu chuẩn vào seat room id 2: 4
DECLARE @row CHAR(1) = 'A';
DECLARE @col INT;

WHILE @row <= 'F'
BEGIN
    SET @col = 1;

    WHILE @col <= 10
    BEGIN
        -- DOUBLE SEAT (E, F)
        IF @row IN ('E', 'F')
        BEGIN
            INSERT INTO Seat (
                RoomId, SeatNumber, SeatRow, SeatCol, SeatType, Status
            )
            VALUES (
                2,
                CONCAT(@row, @col, '-', @row, @col + 1),
                @row,
                @col,
                'DOUBLE',
                'Available'
            );

            SET @col = @col + 2; -- ghế đôi chiếm 2 cột
        END
        ELSE
        BEGIN
            INSERT INTO Seat (
                RoomId, SeatNumber, SeatRow, SeatCol, SeatType, Status
            )
            VALUES (
                2,
                CONCAT(@row, @col),
                @row,
                @col,
                CASE 
                    WHEN @row IN ('A', 'B') THEN 'VIP'
                    ELSE 'Regular'
                END,
                'Available'
            );

            SET @col = @col + 1;
        END
    END

    SET @row = CHAR(ASCII(@row) + 1);
END

-- Chạy các dòng update: 5
UPDATE [dbo].[Movie]
SET PosterUrl = 'action-blast.jpg'
WHERE MovieId = 3;

UPDATE [dbo].[Movie]
SET TrailerUrl = 'https://www.youtube.com/watch?v=qvsgGtivCgs'
WHERE MovieId = 1;

UPDATE [dbo].[Movie]
SET TrailerUrl = 'https://www.youtube.com/watch?v=J0IwXl8FPKc'
WHERE MovieId = 2;

UPDATE [dbo].[Movie]
SET TrailerUrl = 'https://www.youtube.com/watch?v=R6W1sgAz-SY'
WHERE MovieId = 3;

--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--
--từ đây trở xuống đừng đụng nha anh vũ 
UPDATE t
SET t.Price =
    s.TicketPrice +
    CASE st.SeatType
        WHEN 'VIP' THEN 20000
        WHEN 'Double' THEN 50000
        ELSE 0
    END
FROM Ticket t
JOIN Showtime s ON t.ShowtimeId = s.ShowtimeId
JOIN Seat st ON t.SeatId = st.SeatId;


CREATE TABLE [dbo].[Orders] (
    OrderId INT IDENTITY(1,1) PRIMARY KEY,
    UserId INT NOT NULL,
    OrderDate DATETIME DEFAULT GETDATE(),
    TotalAmount DECIMAL(10,2) NOT NULL,
    PaymentMethod NVARCHAR(100),
    Status NVARCHAR(50) DEFAULT 'PAID'
);
GO

ALTER TABLE Orders
ADD CONSTRAINT CK_OrderStatus
CHECK (Status IN ('PENDING','PAID','CANCELLED'));

ALTER TABLE [dbo].[Orders]
ADD CONSTRAINT FK_Order_User
FOREIGN KEY (UserId)
REFERENCES [dbo].[AppUser](UserId);
GO

ALTER TABLE [dbo].[Ticket]
ADD OrderId INT NULL;
GO

ALTER TABLE [dbo].[Ticket]
ADD CONSTRAINT FK_Ticket_Order
FOREIGN KEY (OrderId)
REFERENCES [dbo].[Orders](OrderId);
GO

SELECT * FROM Orders;


SELECT * FROM Room WHERE CinemaId = 1;

SELECT * FROM Showtime WHERE RoomId IN (1,2);

SELECT *
FROM Movie
WHERE Status = 'Now Showing';

INSERT INTO Showtime (MovieId, RoomId, StartTime, EndTime, TicketPrice)
VALUES
(50, 1, '2025-12-25 19:00', '2025-12-25 21:15', 100000),
(50, 2, '2025-12-25 21:30', '2025-12-25 23:45', 120000);

SELECT * FROM Showtime WHERE MovieId = 50;

SELECT 
    c.Name AS Cinema,
    m.Title AS Movie,
    s.StartTime,
    s.EndTime
FROM Showtime s
JOIN Movie m ON s.MovieId = m.MovieId
JOIN Room r ON s.RoomId = r.RoomId
JOIN Cinema c ON r.CinemaId = c.CinemaId
WHERE m.MovieId = 50;

CREATE VIEW vw_CinemaMovie
AS
SELECT DISTINCT
    c.CinemaId,
    c.Name AS CinemaName,
    m.MovieId,
    m.Title AS MovieTitle,
    s.StartTime
FROM Showtime s
JOIN Movie m ON s.MovieId = m.MovieId
JOIN Room r ON s.RoomId = r.RoomId
JOIN Cinema c ON r.CinemaId = c.CinemaId;
GO

INSERT INTO Room (CinemaId, RoomName, SeatCount, RoomType)
VALUES (2, N'Room 2 - CGV', 100, '2D');

INSERT INTO Showtime (MovieId, RoomId, StartTime, EndTime, TicketPrice)
VALUES (
  49,
  3, -- RoomId của CGV
  '2025-12-26 18:30',
  '2025-12-26 20:10',
  95000
);


CREATE TABLE SeatTypePrice (
    SeatType VARCHAR(20) PRIMARY KEY,
    ExtraPrice INT
);

INSERT INTO SeatTypePrice VALUES
('NORMAL', 35000),
('VIP', 70000),
('DOUBLE', 50000);


SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'Orders';

ALTER TABLE Orders
ADD PaymentStatus VARCHAR(20) DEFAULT 'PAID';

SELECT 
    s.SeatId,
    s.SeatRow,
    s.SeatCol,
    s.SeatType,
    CASE 
        WHEN t.TicketId IS NULL THEN 'Available'
        ELSE 'Booked'
    END AS Status
FROM Seat s
JOIN Showtime st ON st.RoomId = s.RoomId
LEFT JOIN Ticket t 
    ON t.SeatId = s.SeatId
    AND t.ShowtimeId = st.ShowtimeId
    AND t.Status IN ('Booked', 'HOLD')
WHERE st.ShowtimeId = 13
ORDER BY s.SeatRow, s.SeatCol



SELECT 
    st.TicketPrice +
    CASE s.SeatType
        WHEN 'VIP' THEN 30000
        WHEN 'DOUBLE' THEN 50000
        ELSE 0
    END AS FinalPrice
FROM Showtime st
JOIN Seat s ON s.SeatId = 15
WHERE st.ShowtimeId = 3


-- XÓA CHECK CŨ (nếu có)
ALTER TABLE Ticket
DROP CONSTRAINT CK_Ticket_Status;
GO

-- THÊM CHECK MỚI
ALTER TABLE Ticket
ADD CONSTRAINT CK_Ticket_Status
CHECK (Status IN ('Booked','Used','Cancelled','HOLD'));
GO

DELETE FROM Ticket
WHERE Status = 'HOLD'
  AND DATEDIFF(MINUTE, BookingTime, GETDATE()) > 5;
GO

SELECT TicketId, ShowtimeId, SeatId, Status, BookingTime
FROM Ticket
ORDER BY TicketId DESC;

INSERT INTO Ticket (UserId, ShowtimeId, SeatId, Price, BookingTime, Status)
VALUES (1, 6, 1199, 0, GETDATE(), 'HOLD');


SELECT 
    con.name AS ConstraintName,
    con.definition
FROM sys.check_constraints con
WHERE parent_object_id = OBJECT_ID('Ticket');

ALTER TABLE Ticket
DROP CONSTRAINT CK_Ticket_Status;
GO

ALTER TABLE Ticket
ADD CONSTRAINT CK_Ticket_Status
CHECK (Status IN ('Booked','Used','Cancelled','HOLD'));
GO

DELETE FROM Ticket WHERE Status = 'HOLD';

INSERT INTO Ticket (UserId, ShowtimeId, SeatId, Price, BookingTime, Status)
VALUES (1, 3, 20, 100000.0, GETDATE(), 'HOLD');

UPDATE Ticket
SET 
    Status = 'Booked',
    Price = 120000,
    BookingTime = GETDATE(),
    OrderId = 5
WHERE 
    UserId = 1
    AND ShowtimeId = 3
    AND Status = 'HOLD';

SELECT TicketId, Status, Price, OrderId
FROM Ticket
ORDER BY TicketId DESC;

DELETE FROM Ticket
WHERE Status = 'HOLD'
  AND DATEDIFF(MINUTE, BookingTime, GETDATE()) >= 5;

SELECT TicketId, Status, BookingTime
FROM Ticket
WHERE Status = 'HOLD';

SELECT 
    TicketId,
    Status,
    BookingTime,
    DATEDIFF(MINUTE, BookingTime, GETDATE()) AS MinutesHeld
FROM Ticket
WHERE Status = 'HOLD';

SELECT
  TicketId,
  UserId,
  ShowtimeId,
  SeatId,
  Status,
  BookingTime
FROM Ticket
WHERE Status = 'HOLD';

SELECT
    t.TicketId,
    m.Title,
    s.StartTime,
    t.Price,
    t.BookingTime,
    t.Status,
    se.SeatNumber
FROM Ticket t
JOIN Showtime s ON t.ShowtimeId = s.ShowtimeId
JOIN Movie m ON s.MovieId = m.MovieId
LEFT JOIN Seat se ON t.SeatId = se.SeatId
WHERE t.UserId = 13
ORDER BY t.BookingTime DESC

SELECT SUM(Price)
FROM Ticket
WHERE UserId = 1
  AND ShowtimeId = 2
  AND Status = 'HOLD'



